<div class="container">
  <div id="welcome">
    <h3>Landing Page</h3>
    <p><%= link_to 'portfolio', portfolio_index_path%></p>
    <p><%= link_to 'blog', blog_index_path%></p>
    <p><%= link_to 'resume', resume_path%></p>
  </div>
</div>