<div id="navigation-bar">
  <%= link_to 'home', root_path %> |
  <%= link_to 'portfolio', portfolio_index_path%> |
  <%= link_to 'blog', blog_index_path%> |
  <%= link_to 'resume', resume_path%>
</div>