<div id="navigation-bar">
  <p><%= link_to 'home', root_path %></p>
  <p><%= link_to 'portfolio', portfolio_index_path%></p>
  <p><%= link_to 'blog', blog_index_path%></p>
  <p><%= link_to 'resume', resume_path%></p>
</div>